body {
    width: 325px;
    height: 375px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
    background-color: #fafafa;
    text-align: center;
    border: 10px solid #fafafa;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
a{
   color: white;
}
div{
   border:0cm;
   border-radius: 5px;
   padding-bottom: 20px;
   background-color: #fafafa;
   padding:15px;
   margin-bottom: 15px;
}
.copyRight{
   color:white;
   bottom:0;
}
a.button {
   -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;

   text-decoration: none;
   color: initial;
}
input[type="text"]{
    border:#fafafa;
    border-bottom: 1px solid #808080;
    background-color: #fafafa;
    width:100%;
}
input:focus{
    border: none;
    outline:none;
    border-bottom: 1px solid #ef758a;
}
label{
    display:inline-block;
    margin-bottom:10px;
    color: #ef758a;
}
button{
    color:#fafafa;
    background-image: linear-gradient(to right, #f57f59 50%, #ef758a);
    border-color: none;
    border-radius: 10px;
    padding:15px;
    margin-right:5px;
    border:none;
    cursor: pointer;
    margin-left:15px;
}
button.backBtn{
    color: #ef758a;
    background-color: #fafafa;
    background-image: #fafafa;
    background-image: linear-gradient(to right, #fafafa 50%, #fafafa);
    border: 1px solid #ef758a;
    border-radius: 10px;
    padding:15px;
    cursor: pointer;
}
::placeholder{
    color: #D3D3D3;
}
p{
    margin-left:15px;
}